{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    Gaffiot en ligne | Gaffiot.org
{% endblock title %}

{% block graph %}
    <meta property="og:url" content="https://www.gaffiot.org/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Gaffiot en ligne | Gaffiot.org"/>
    <meta property="og:description"
          content="Dictionnaire Gaffiot en ligne disponible dans la version digitale du Gaffiot 2016."/>

    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "url": "https://www.gaffiot.org/",
  "keywords": "gaffiot en ligne, gaffiot",
  "name": "Gaffiot en ligne | Gaffiot.org",
  "headline": "Dictionnaire Gaffiot en ligne disponible dans la version digitale du Gaffiot 2016."
}

    </script>
{% endblock %}

{% block body %}
    <br>
    <form role="form">
        <div class="form-group">
            <input id="searchinput" class="form-control" type="search" placeholder="Search..." autocomplete="off"/>
        </div>
        <div id="searchlist" class="list-group">
            {% for word in words|slice(0, 2000) %}
                <a class="list-group-item" href="{{ path('detail', {'id': word.id}) }}"><span>{{ word.latin }}</span>
                    <hidden>{{ word.latinRaw }}</hidden>
                </a>
            {% endfor %}
        </div>
    </form>
    <p><i>In order to speed up page loading, only the first 2 000 of 72 165 words are being displayed in this list, but
            search
            includes
            all
            words.</i></p>
    <script>
        $('#searchlist').btsListFilter('#searchinput', {
            loadingClass: 'loading',
            sourceTmpl: '<a class="list-group-item" href="https://gaffiot.org/{id}"><span>{latin}</span><hidden>{raw}</hidden></a>',
            sourceData: function (text, callback) {
                return $.getJSON('/search/' + text, function (json) {
                    callback(json);
                });
            }
        });
    </script>
{% endblock %}